NODE_ENV = "development"
PORT = 
BASE_PATH = ""

MONGODB_URI = "";


SESSION_SECRET = ""
SESSION_EXPIRES_IN_HOURES = 3

GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_CALLBACK_URL =''; 

FRONTEND_ORIGIN =""
FRONTEND_GOOGLE_CALLBACK_URL=""




